<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <!-- Chat Messages -->
      <app-chat-message
        text="¡Hola! 👋 Soy FonoBot, tu asistente de fonoaudiología. ¿En qué puedo ayudarte hoy?"
      />

      @for (message of messages(); track $index) {
        @if( message.isGpt ) {
          <app-chat-message [text]="message.text"/>
        } @else {
          <app-my-message [text]="message.text"/>
        }
      }

      @if (isLoading()) {
        <app-typing-loader />
      }

    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Pregúntame sobre fonoaudiología..."
    (onMessage)="handleMessage($event)"
  />

</div>
